/* Pomological by Alexander Rossell Hayes */
/* rs-theme-is-dark: FALSE */

$base00: #fffeea;
$base01: #f8eed1;
$base02: #efe1c6;
$base03: #dfbc97;
$base04: #a89985;
$base05: #655843;
$base06: #473B34;
$base07: #3F2F26;
// $base06: #4f5157;
// $base07: #2b323f;
// $base08: #c03728; // red
// $base09: #f2692e; // orange
// $base0A: #fd8f24; // yellow
// $base0B: #919c4c; // green
// $base0C: #c3c377; // cyan
// $base0D: #3c5e27; // blue
// $base0E: #912b1b; // violet
// $base0F: #df415a; // magenta
$base08: #ec4339; // red
$base09: #f2692e; // orange
$base0A: #fd8f24; // yellow
$base0B: #919c4c; // green
$base0C: #b7c385; // cyan
$base0D: #587741; // blue
$base0E: #B12523; // violet
$base0F: #df415a; // magenta
