/* Pomological Dark by Alexander Rossell Hayes */
/* rs-theme-is-dark: TRUE */

$base00: #3F2F26;
$base01: #473B34;
$base02: #655843;
$base03: #a89985;
$base04: #dfbc97;
$base05: #efe1c6;
$base06: #f8eed1;
$base07: #fffeea;
$base08: #ec4339; // red
$base09: #f2692e; // orange
$base0A: #fd8f24; // yellow
$base0B: #919c4c; // green
$base0C: #b7c385; // cyan
$base0D: #587741; // blue
$base0E: #B12523; // violet
$base0F: #df415a; // magenta
